.flex.flex-col.gap-5.bg-white.border-4.border-black
  .swiper.project-images
    / Additional required wrapper
    .swiper-wrapper
      - project.images.each do |image|
        .swiper-slide
          = image_tag image, class: 'w-full h-full object-cover'

    .swiper-button-prev
    .swiper-button-next
    .swiper-pagination

  .p-5
    %h3.text-2xl.font-bold.mb-5= project.title
    %p= project.body.to_plain_text.truncate_words(10)
  .flex.flex-col{class: 'w-full justify-between items-center border-t-4 border-black lg:pl-5 lg:flex-row'}
    = link_to 'See more ->', project , class: 'block p-5 font-bold text-xl text-center border-b-4 border-black w-full lg:w-auto lg:border-r-4 lg:border-b-0'
    = link_to 'Github', '#', class: 'block flex-1 p-5 font-bold text-xl text-center'
