= form_for @project, html: { class: 'flex flex-col space-y-5'} do |f|

  = render 'application/forms/errors', object: @project
  = render_form_field f, :title_field
  = render_form_field f, :images_field
  = render_form_field f, :rich_text_body_field
  = render_form_field f, :published_field

  = render_form_field f, :submit